.card{
    text-align: center;
    border: black solid 1px;
    width: 20rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
    justify-self: auto;
}

#pokemon-cards{
    margin: 2rem;
}

.pokemon-image{
    margin-top: 5px;
    justify-self: center;
    height: 25rem;
    width: auto;
}

.card-content{
    justify-content: center;
    height: 60px;
    width: auto;
    padding: 5px;
}

#player-info{
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: right;
    font-size: 18px;
}