.card{
    text-align: center;
    border: black solid 1px;
    width: 20rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
    justify-self: auto;
}

#page-header{
    content: left;
    background: rgb(249, 151, 151);
    opacity: .8;
    height: 12rem;
    padding: 3rem;
}

#page-header h1{
    position: absolute;
    top: 13rem;
    left: 5.5rem;
    font-weight: 900;
}

#pokemon-cards{
    margin: 2rem;
}

.pokemon-image{
    margin-top: 5px;
    justify-self: center;
    height: 25rem;
    width: auto;
}

.card-content{
    position: relative;
    justify-content: center;
    height: 60px;
    width: auto;
    padding: 5px;
}

#player-info{
    border: black solid 5px;
    padding: 10px;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: left;
    font-size: 18px;
}

.data{
    font-weight: 400;
    padding-left: 3px;
    padding-right: 3px;
}

#buy-new-card-button{
    position: relative;
    background-color: blue;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
}

.submit{
    position: relative;
    background-color: blue;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
}

.title{
    background-color: blue;
    border-radius: 5px;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin: 3px;
}

#buy-new-card-button:hover{
    background-color: lightslategray;
    border: yellow 1px;
    color: yellow; 
}

.submit:hover{
    background-color: lightslategray;
    border: yellow 1px;
    color: yellow; 
}

.buy-card-form{
    background: yellow;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
}

.top-left{
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 18px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 3px 4px black;
}

.bottom-left{
    position: absolute;
    bottom: -15px;
    left: 10px;
    font-size: 18px;
    padding: 2px;
    background-color: lightgreen;
    box-shadow: 3px 4px black;
}

.top-right{
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 18px;
    padding: 2px;
    background-color: lightgray;
    box-shadow: 3px 4px black;
}

#sell-card{
    position: absolute;
    bottom: 3px;
    right: 10px;
    font-weight: bolder;
    font-size: medium;
    background-color: red;
    box-shadow: 2px 3px black;
}

#sell-card:hover{
    background-color: lightslategray;
    border: yellow 3px;
    color: yellow; 
}
